<div align="center">
    <%= form_for Blog.new do |f| %>
    <%= f.text_field :text %><br><br>
    <%= f.file_field :image %><br><br>
    <%= f.submit %>
    <% end %>
</div>


<% @blogs.each do |blog| %>
    <h3><%= blog.email %></h3>
    <h4><%= blog.text %></h4>
    <%= image_tag(blog.image.url, alt: 'Image', width: 'auto', height: 300) if blog.image? %>
    <br><br>

    <!-- Like Info -->
    <span id="myBtn" data-id=<%= blog.id %> ><%= blog.likes_count %> likes</span>
    <%= link_to blog_likes_path(blog.id), method: :post do %>
    <i class="fas fa-thumbs-up"></i>
    <% end %>

    <!-- Like Modal -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div id="liked_user_list">
            	<h4>Liked By..</h4>
            </div>
        </div>
    </div>
    <br><br>

    <!-- comment form -->
    <%= form_for Comment.new do |f| %>
        <%= hidden_field_tag "comment[blog_id]", blog.id %>
        <%= f.text_area :text %>
        <%= f.submit "Comment" %>
    <% end %><br>

    <!-- Listing Comments of Blog -->
    <% Comment.get_blog_comments(blog.id, @all_comments).each do |comment| %>
        <div style="margin-left: 5%;">
            <div>
                <%= comment.sender_email %>:
                <%= comment.text %>
            </div>
            <div style="margin-left: 5%;">
                
                <!-- Comment Reply List -->
                <% comment.get_replies(@all_comments).each do |comment| %>
                <div>
                    <%= comment.sender_email %>:
                    <%= comment.text %>
                </div>
                <% end %>

                <!-- Reply Form -->
                <%= form_for Comment.new do |f| %>
                    <%= hidden_field_tag "comment[blog_id]", blog.id %>
                    <%= hidden_field_tag "comment[comment_id]", comment.id %>
                    <%= f.text_area :text %>
                    <%= f.submit "Reply" %>
                <% end %>
            </div>
        </div>
    <% end %>
    <br>
<% end %>

<script>
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>