<center>
    <h2>Hello
        <%= current_user.email %>
        <hr>
</center>
<div align="right">
    <%= button_to "Log out", destroy_user_session_path, method: :delete  %>
</div>
<div id="blogs">
	<%= render 'blogs' %>
</div>