<script>
function setCsrfToken(xhr) {
    xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
}

<% if flash[:notice].present? %>
    message = "<%= flash[:notice]%>"
    type = 'success'
    notification(message, type)
<%end%>

<% if flash[:alert].present? %>
    message = "<%= flash[:alert]%>"
    type = 'warn'
    notification(message, type)
<%end%>

<% if flash[:message].present?%>
    message = "<%= flash[:message]%>"
    type = 'info'
    notification(message, type)
<%end%>

<% if flash[:errors].present?%>
    <% if flash[:errors].class == Array %>
        <%flash[:errors].each do |err|%>
            message = "<%= err.html_safe %>"
            type = 'error'
            notification(message, type)
        <%end%>
    <% else %>
        message = "<%= flash[:errors] %>"
        type = 'error'
        notification(message, type)
    <% end %>
<% end %>

function notification(message, type) {
    $.notify(message, {
        className: type,
        clickToHide: true,
        globalPosition: 'top center',
        autoHideDelay: 5000,
        width: 500,
        height: 300
    });
}
</script>